@import "~@fremtind/jkl-core/variables/_spacing.scss";

.jkl-portal__card-list {
    display: flex;
    flex-direction: row;

    & > *:not(:last-child) {
        margin: 0;
        margin-right: $spacing-xl;
    }

    &--vertical {
        flex-direction: column;

        & > *:not(:last-child) {
            margin: 0;
            margin-bottom: $spacing-xl;
        }
    }
}
