@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";

:root,
[data-theme="light"] {
    --media-bg: #{$snohvit};
    --media-text-color: #{$granitt};
}

[data-theme="dark"] {
    --media-bg: #{$granitt};
    --media-text-color: #{$snohvit};
}

.jkl-portal-media-box {
    max-width: 900px;
    position: relative;
    margin-bottom: $spacing-4xl;

    &__video {
        width: 100%;
        border: none;
    }

    &__media {
        margin-left: 30%;
        @include motion("standard", "lazy");
        transition-property: opacity, transform;
        opacity: 0;
        transform: scale(0.95);

        &--in-view {
            opacity: 1;
            transform: scale(1);
        }
    }

    &__caption {
        margin-top: $spacing-xs;
    }

    &__card {
        position: absolute;
        bottom: $spacing-3xl;
        left: $spacing-m;
        background-color: var(--media-bg);
        color: var(--media-text-color);
        max-width: 500px;
        padding: $spacing-xl;
        z-index: 1;

        &--long-text {
            bottom: -$spacing-3xl;
        }
    }

    &--right {
        .jkl-portal-media-box__media {
            margin-left: 0;
            margin-right: 30%;
        }
        .jkl-portal-media-box__card {
            right: $spacing-m;
            left: initial;
        }
    }
}
